[Unit]
Description=linkwarden
Requires=linkwarden-db.container
After=linkwarden-db.container

[Container]
ContainerName=LinkWarden
Image=ghcr.io/linkwarden/linkwarden:latest
Pod=linkwarden.pod
Pull=always
AutoUpdate=registry
DropCapability=all
UserNS=auto
Secret=linkwarden_pg_db_url,type=env,target=DATABASE_URL
Secret=linkwarden_pg_password,type=env,target=POSTGRES_PASSWORD
Secret=linkwarden_pg_nextauth_url,type=env,target=NEXTAUTH_URL
Secret=linkwarden_pg_nextauth_secret,type=env,target=NEXTAUTH_SECRET
DropCapability=all

[Service]
Restart=always

[Install]
WantedBy=default.target
